* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    font-family: 'Roboto', Lato;
    background-color: #f8f8f8;
    color: #333;
    font-size:1rem;
}

.container {
    max-width: 1200px;
    margin: 0;
    padding: 0 20px;
}

/* Navbar  */
.navbar {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 28px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #f39c12;
}

/* Header */
.hero {
    background-image: url('village.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 150px 0;
    text-align: center;
}

.today-cocktail {
    font-size: 36px;
    margin-bottom: 20px;
}
#cockTail{
    list-style-type: none;
}
#cockTail li {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    width:25%;
    margin: auto;
    color: #f39c12;
    font-weight: bold;
    font-family: 'Pacifico', cursive; 
    letter-spacing: 2px;
    cursor: pointer;
    min-width: 215px;
  }
#cockTail li:hover {
    transform: translateY(-3px); 
  }
/* Cocktail list */
.container h2{
    margin:1rem;
}
.cocktail-container {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 1rem;
    padding: 0;
    border: 1px black solid;
  }

  .cockTailImag {
    width: 50%;
    height: auto;
  }

  .cockTailItem {
    width: 50%;
    padding: 0 20px;
  }
  .cockTailItem h3{
    font-size: 20px;
  }
  .cockTailName {
    margin-top: 0;
  }

  .instructions {
    margin-top: 0;
  }

  .instructions h3 {
    margin-top: 0;
    font-size: 17px;
  }
  .instructions p {
    font-size: 15px;
  }
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .nav-links {
        margin-top: 20px;
    }

    .navbar .nav-links li {
        margin-right: 1srem;
        margin-bottom: 10px;
    }
}